<div class="site-nav">
  <nav class="navigation">
    <div class="site-title">
      <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/images/codecatz-logo.svg"
         alt="CodeCatz Logo" id="side-logo"/> Tutorial</a>
    </div>
    <div class="nav-items">
      {% assign all_pages = site.pages | sort:"title" | where: "layout", "tutorial" %}
      {% for current_page in all_pages %}
        {% assign active = nil %}
        {% if page.url == current_page.permalink %}
          {% assign active = 'active' %}
        {% endif %}
        {% if current_page.title %}

        {% comment %} Devnote: to style completed pages, use class "done" {% endcomment %}
        <div class="nav-chapter">
          <a class="page-link {{ active }}" title="{{ current_page.title }}" href="{{ current_page.url | prepend: site.baseurl }}"> {{ current_page.title }}&nbsp;&nbsp;</a>
        </div>
        {% endif %}
      {% endfor %}
    </div>
  </nav>
  {% if page.url contains link.url %}
    {% assign active = 'active' %}
  {% endif %}

  <div id="footer-picker">
    <div class='os-picker'><span id="os-info-text">Your operating system:</span><br/><a href='#' class='link-wins'><i class="fa fa-windows"></i> Windows</a> <a href='#' class='link-osx'><i class="fa fa-apple"></i> OS X</a></div>
  </div>

</div>
