/**
 * Side navigation menu
 */
.site-nav {
    height: 100%;
    width: $sidenav-width;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    
    border-right: thin solid $grey-color;
    background-color: #fafafa;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#side-logo {
    width: 50px;
}

.site-title {
    
    font-size: 18px;
    line-height: 56px;
    letter-spacing: 2px;
    font-weight: 800;
    padding-top: 10px;
    padding-left: 15px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: thin solid $grey-color-light;
    a {
        color: black;
        text-decoration: none;
        &:hover {
            color: $brand-color;;
        }
    }
}

.nav-items {
    color: black;
    font-size: 0.9em;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 10px;

    .nav-chapter {
        padding-bottom: $spacing-unit;

        a {
            text-decoration: none;
            color: $text-color;

            &:hover {
                color: $brand-color;
            }
        }
        .active {
            font-weight: 600;
        }

        .done::after { 
            content: "\f1b0";
            font-family: FontAwesome;
            color: $brand-color;
            font-weight: 300;
        }
    }
}

#footer-picker {
    position: fixed;
    bottom: 0px;
    width: $sidenav-width;
    overflow: visible;
    z-index: 99;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
    background-color: $brand-color;
    
    .os-picker {
        text-align: center;
        font-size: 0.9em;
        font-weight: 400;
        a {
            padding: 5px 10px 5px 10px;
            color: black;
            &:hover {
                text-decoration: none;
            };
        }
        .active {
            border: 1px solid white;
            border-radius: 8px;
            color: white;
            font-weight: 500;
        }
        #os-info-text {
            line-height: 40px;
            padding-bottom: 20px;

        }
    }
}

/**
 * Page content
 */
.page-content {
    position: absolute;
    padding: 10px 0 40px $sidenav-width;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}

.recap {
    background-color: lighten($grey-color-light, 5%);
    padding: 2em;
    margin: 2em 0;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    h2 {margin-top:0;}
}

/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    border-bottom: 2px dotted $grey-color-light;
    padding: 0 20px 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }

    hr {
        margin: 15px;
        border: none;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: 30px 0 0px;
    background-color: lighten($grey-color-light, 20%);

    p {margin-top: 0;}
}

.button {
    display: block;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-left {
    width: 34%;
}

.footer-right {
    width: 60%;
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

