/**
 * Site header
 */
.site-header {
    border-bottom: 2px solid $grey-color-dark-shadow;
    background-color: $grey-color-dark;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.49);

    position: fixed;
    min-width: 1200px;
    width: 100%;

    @media screen and (max-width: 850px) {
        min-width: 0;
    }

    // Positioning context for the mobile navigation icon
    // position: relative;

    .wrapper {
        padding: .5em 2em;
        text-align: center;

        @media screen and (max-width: 850px) {
                margin: 0;
                padding: 0;
        }
    }
}

.site-title {
    font-size: 18px;
    line-height: 56px;
    letter-spacing: 2px;
    text-transform: uppercase;
    float: left;
    margin: 8px 0 0 30px;

    @media screen and (max-width: 850px) {
        width: 100%;
        text-align: center;
        margin: 0;
    }    

    &,
    &:hover,
    &:visited {
        color: $brand-color;
        text-decoration: none;
    }
}

.site-nav {
    line-height: 56px;
    text-align: center;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    .active {
        color: #73B9E6;
        font-weight: 500;
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: 30px 0 70px;
    background-color: lighten($grey-color-light, 20%);

    p {margin-top: 0;}
}

.button {
    display: block;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-left {
    width: 34%;
}

.footer-right {
    width: 60%;
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

#footer-picker {
    position: fixed;
    bottom: 0px;
    width: 100%;
    overflow: visible;
    z-index: 99;
    padding-top: 0.5em;
    background-color: $brand-color;
    height: 2em;
    .os-picker {
    font-size: 0.9em;
    text-align: center;
        a {
            color: black;
        }
        .active {
            color: white;
            font-weight: 500;
            &:hover {
                text-decoration: none;
            };
        }
    }
}



/**
 * Page content
 */
.page-content {
    padding: 120px 0 40px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    border-bottom: 2px dotted $grey-color-light;
    padding: 0 20px 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;

    @include media-query($on-laptop) {
        font-size: 36px;
    }

    hr {
        margin: 15px;
        border: none;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
