<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="{{ "/js/jquery.cookie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/switcher.js" | prepend: site.baseurl }}"></script>
  </body>

</html>
