<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="{{ "/js/jquery.tooltipster.min.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/jquery.scripts.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/switcher.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
